---
// src/pages/works/[hash].astro
import { getCollection, render } from 'astro:content';
import { getWorkImagesSync } from '@utils/imageUtils';
import Layout from '@layouts/Layout.astro';
import { Picture } from 'astro:assets';

// Generate routes for all works
export async function getStaticPaths() {
  const works = await getCollection('works');

  return works.map((work) => ({
    params: {
      hash: work.data.hash,
    },
    props: { work },
  }));
}

const { work } = Astro.props;
const { Content } = await render(work);

// Get all images for this work automatically
const imageUrls = getWorkImagesSync(work.data.hash);
const firstImage = imageUrls[0];
const remainingImages = imageUrls.slice(1);
---

<style>
  .work_name {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    padding-top: calc(var(--space) * 1.5);
    padding-inline: calc(var(--space) * 1);
    text-wrap: balance;
    text-wrap: pretty; /* fallback */
    white-space: pre-line; /* so break in frontmatter get respected: */
  }

  @media (min-width: 601px) {
    .work_name {
      font-size: 2.5rem;
    }
  }

  @media (min-width: 801px) {
    .work_name {
      font-size: 3rem;
    }
  }

  .intro {
    font-size: 1.1rem;
    text-align: left;

    p {
      text-align: justify;
      margin-left: calc(var(--space) * 2);
      margin-right: calc(var(--space) * 2);
    }

    table {
      padding: var(--space) calc(var(--space) * 2) calc(var(--space) * 2);
      display: block;
      font-size: 1rem;
    }

    table a {
      text-transform: none;
    }

    table a:hover {
      color: black;
    }

    table td:first-child {
      width: 13ch;
      font-style: italic;
    }

    table td {
      text-align: left;
      padding-bottom: 0.25rem;
      vertical-align: baseline;
    }

  }


  @media (min-width: 801px) {
    .intro {
      text-align: justify;
    }
  }

  @media (max-width: 800px) {
    .intro table td:first-child {
      padding-top: 0.5rem;
    }
  }

  @media (max-width: 800px) {
    .intro table td {
      width: fit-content;
    }
  }

  .image_wrap {
    width: 100%;
    display: block;
    margin: 0 0 calc(var(--space) * 0.5);

    img {
      width: 100%;
      height: auto;
    }
  }
  body.work .see_more.hide {
      display: block;
  }

</style>

<Layout title={work.data.title} bodyClass='work'>
  <main class={'bungkus ' + work.data.project} id="main">
    <!-- Display first image before h2 title -->
    {
      firstImage && (
        <div class='image_wrap'>
          <Picture src={firstImage} alt={`${work.data.title} - TLDR`} loading='eager' />
        </div>
      )
    }

    <h2 class='work_name'>{work.data.project}</h2>

    <section class='text_content intro'>
      <Content />
    </section>

    <!-- For remaining images, use Picture component too -->
    <section class='image_content'>
      {
        remainingImages.map((imageObj, index) => (
          <div class='image_wrap'>
            <Picture
              src={imageObj}
              alt={`${work.data.title} - Image ${index + 2}`}
              loading='lazy'
            />
          </div>
        ))
      }

      {imageUrls.length === 0 && <p>No images found for this work.</p>}
    </section>
  </main>
</Layout>
